<footer class="footer">
  <div class="footer__container">
    <p class="footer__text">&#169; 2022 | All Rights Reserved |</p>
    <p class="footer__info">
      Developed with
      <svg class="footer__icon">
        <use href="./images/icons.svg#icon-heart"></use>
      </svg>
      by
      <span class="footer__info--accent js-open-modal">Grow IT Team</span>
    </p>
  </div>
  <a class="footer-link" href="https://standwithukraine.live/">
    <p class="footer-link__text">support & help</p>
    <img src="https://www.animatedimages.org/data/media/908/animated-ukraine-flag-image-0001.gif" alt="Ukraine flag"
      class="footer-link__img">
    <p class="footer-link__text">#Stand with Ukraine</p>
  </a>
</footer>
