<div class="backdrop is-hidden">
        <div class="swiper-modal">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/kotenko.jpg" class="swiper-slider__img" loading='lazy'/>
                        <p class="slides__position">team lead</p>
                        <p class="swiper-slider__name">Konstantin Kotenko</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/Konstantin-Kotenko" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/tolmachev.jpg" class="swiper-slider__img" loading='lazy'/>
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Denis Tolmachev</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/DenisTolmachev" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="https://www.linkedin.com/in/%D0%B4%D0%B5%D0%BD%D0%B8%D1%81-%D1%82%D0%BE%D0%BB%D0%BC%D0%B0%D1%87%D0%B5%D0%B2/"
                                    class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/severin.jpg" class="swiper-slider__img" loading='lazy'/>
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Artem Severin</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/ssevik" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="https://www.linkedin.com/in/artem-severin-6191b7220/" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/lyfar.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Natalia Lyfar</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/NataliaLyfar" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="https://www.linkedin.com/in/%D0%BD%D0%B0%D1%82%D0%B0%D0%BB%D1%8C%D1%8F-%D0%BB%D0%B8%D1%84%D0%B0%D1%80%D1%8C-15181423b"
                                    class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/nagorna.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Olena Nahorna</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/AlenkaNahorna" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="https://www.linkedin.com/in/olena-nahorna-68b752237" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/Boiko.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">scrum macter</p>
                        <p class="swiper-slider__name">Juliya Boiko</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/Juliya-Boiko" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/khmil.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Vitalii Khmil</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/VitaliyKhmil" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/baliajpg.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Ivan Balya</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/IvanBalia" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/oliynik.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Volodymyr Oliinyk</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/Volodymyr-Oliynyk" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="https://www.linkedin.com/mwlite/in/volodymyr-oliinyk-999000230" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/larin.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Artem Larin</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/LarinArt" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="https://www.linkedin.com/in/%D0%B0%D1%80%D1%82%D1%91%D0%BC-%D0%BB%D0%B0%D1%80%D0%B8%D0%BD-586301231/"
                                    class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/footer-modal/trush.jpg" class="swiper-slider__img" loading='lazy' />
                        <p class="slides__position">developer</p>
                        <p class="swiper-slider__name">Volodymir Trush</p>
                        <ul class="slides-social">
                            <li class="slides-social__item">
                                <a href="https://github.com/VolodymyrTrush" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="slides-social__item">
                                <a href="" class="slides-social__link">
                                    <svg class="slides-social__icon">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
</div>