<div class="backdrop">
    <div class="footer-modal">
        <button type="button" class="footer-modal-close-btn">
            <svg class="footer-modal-close-btn__icon">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="slider-container">
            <ul class="thumbnails">
                <li class="thumbnails__item">
                    <a href="#slide1" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg" class="thumbnails__img"/></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide2" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg" class="thumbnails__img"/></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide3" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw3.jpg" class="thumbnails__img"/></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide4" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw4.jpg" class="thumbnails__img"/></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide5" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw5.jpg" class="thumbnails__img"/></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide6" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg"
                            class="thumbnails__img" /></a>
                </li>
            </ul>

            <ul class="slides">
                <li id="slide1" class="slides__item">
                    <img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg" alt="" class="slides__img"/>
                    <p class="slides__name">Boiko Juliya</p>
                    <ul class="slides-social">
                        <li class="slides-social__item">
                            <a href="" class="slides-social__link">
                                <svg class="slides-social__icon">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="slides-social__item">
                            <a href="" class="slides-social__link">
                                <svg class="slides-social__icon">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="slide2" class="slides__item"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg" alt="" class="slides__img"/></li>
                <li id="slide3" class="slides__item"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw3.jpg" alt="" class="slides__img"/></li>
                <li id="slide4" class="slides__item"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw4.jpg" alt="" class="slides__img"/></li>
                <li id="slide5" class="slides__item"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw5.jpg" alt="" class="slides__img"/></li>
                <li id="slide6" class="slides__item"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg" alt=""class="slides__img" /></li>
            </ul>

            <ul class="thumbnails">
                <li class="thumbnails__item">
                    <a href="#slide1" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg"
                            class="thumbnails__img" /></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide2" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg"
                            class="thumbnails__img" /></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide3" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw3.jpg"
                            class="thumbnails__img" /></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide4" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw4.jpg"
                            class="thumbnails__img" /></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide5" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw5.jpg"
                            class="thumbnails__img" /></a>
                </li>
                <li class="thumbnails__item">
                    <a href="#slide6" class="thumbnails__link"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg"
                            class="thumbnails__img" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>