<div>
  <img src="./images/1.jpeg" loading="lazy" width="284" height="178" alt="1" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At libero
    recusandae possimus ducimus quam dignissimos illum quae reiciendis maxime?
    Magni ut voluptate voluptas possimus explicabo eaque, porro, maxime eius eos
    fugit mollitia amet sapiente harum natus illo optio tempore impedit.
  </p>

  <img src="./images/2.jpg" loading="lazy" width="800" height="450" alt="2" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At libero
    recusandae possimus ducimus quam dignissimos illum quae reiciendis maxime?
    Magni ut voluptate voluptas possimus explicabo eaque, porro, maxime eius eos
    fugit mollitia amet sapiente harum natus illo optio tempore impedit.
  </p>

  <img src="./images/3.webp" loading="lazy" width="800" height="800" alt="3" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At libero
    recusandae possimus ducimus quam dignissimos illum quae reiciendis maxime?
    Magni ut voluptate voluptas possimus explicabo eaque, porro, maxime eius eos
    fugit mollitia amet sapiente harum natus illo optio tempore impedit.
  </p>

  <img src="./images/4.webp" loading="lazy" width="960" height="640" alt="4" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At libero
    recusandae possimus ducimus quam dignissimos illum quae reiciendis maxime?
    Magni ut voluptate voluptas possimus explicabo eaque, porro, maxime eius eos
    fugit mollitia amet sapiente harum natus illo optio tempore impedit.
  </p>

  <img src="./images/5.jpg" loading="lazy" width="612" height="408" alt="5" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At libero
    recusandae possimus ducimus quam dignissimos illum quae reiciendis maxime?
    Magni ut voluptate voluptas possimus explicabo eaque, porro, maxime eius eos
    fugit mollitia amet sapiente harum natus illo optio tempore impedit.
  </p>

  <img src="./images/6.jpg" loading="lazy" width="900" height="600" alt="6" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At libero
    recusandae possimus ducimus quam dignissimos illum quae reiciendis maxime?
    Magni ut voluptate voluptas possimus explicabo eaque, porro, maxime eius eos
    fugit mollitia amet sapiente harum natus illo optio tempore impedit.
  </p>
</div>

<div class="loader">
  <div class="loader-container">
    <div class="loader-box">
      <span class="loader-box__elem"></span>
    </div>
  </div>
</div>
