<div class="toolbar">
    <div class="toolbar__background">
    <div class="theme-switch">
        <svg class="theme-switch__icon theme-switch__icon--accent1" role="img">
            <use href="./images/icons.svg#sun"></use>
        </svg>

        <div class="theme-switch__control">
            <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle" />
            <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>

        <svg class="theme-switch__icon theme-switch__icon--accent2">
            <use href="./images/icons.svg#moon"></use>
        </svg>
    </div>
</div>
</div>