@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';

@import './components/reset';
@import './components/container';
@import './components/movie-card';
@import './components/pagination';
@import './components/_button';

@import './layouts/footer/footer';
@import './layouts/footer/footer-modal';
@import './layouts/loader';
