@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';

@import './components/reset';
@import './components/container';
@import './components/main-container';
@import './components/movie-card';
@import './components/pagination';
@import './layouts/header';
@import './components/header-home-page.scss';
@import './components/header-library';
@import './components/_button';
@import './components/_modal-movie';

@import './layouts/footer/footer';
@import './layouts/footer/footer-modal';
@import './layouts/loader';
@import './components/trailer-modal';
@import './components/change-theme';
@import './components/filter'
