<article>
  <div class="wrapper">
    <include src="./partials/utils/switch-theme.html"></include>
    <svg width="20px" height="20px" class="icon-back" id="iconBack">
      <use href="/src/images/header-home-page/sprite.svg#icon-back"></use>
    </svg>
    <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked />
        <input type="radio" name="slide" id="signup" />
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form action="#" class="login">
          <div class="field">
            <input type="text" placeholder="Email Address" required />
          </div>
          <div class="field">
            <input type="password" placeholder="Password" required />
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login" />
          </div>
          <!-- <div class="signup-link">
            Not a member? <a href="#" id="signupNow">Signup now</a>
          </div> -->
        </form>
        <form action="#" class="signup">
          <div class="field">
            <input type="text" placeholder="Email Address" required />
          </div>
          <div class="field">
            <input type="password" placeholder="Password" required />
          </div>
          <div class="field">
            <input type="password" placeholder="Confirm password" required />
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Signup" />
          </div>
        </form>
      </div>
    </div>
  </div>
</article>
