{{#each this}}
  <div class="modal-info">
      <img src="/src/images/modal-movie/test_poster_1024.jpg" class="modal-movie-poster" />

      <div class="modal-movie-information">
        <h2 class="modal-movie-title">A FISTFUL OF LEAD</h2>
        <div class="modal-movie-data-reiting">
        <div class="modal-movie-data">          
              <p class="modal-movie-data-name">Vote / Votes</p>
              <p class="modal-movie-data-name">Popularity</p>              
              <p class="modal-movie-data-name">Original Title</p>              
              <p class="modal-movie-data-name">Genre</p>            
        </div>
        <div class="modal-movie-info">        
              <p class="modal-movie-description">
                <span class="modal-movie-description-vote">7.3</span>
                <span class="modal-movie-data-slash">/</span>
                <span class="modal-movie-description-votes">1260</span>
              </p>              
              <p class="modal-movie-popularity">100.2</p>              
              <p class="modal-movie-description-title">A FISTFUL OF LEAD</p>
              <p class="modal-movie-description">
                <span class="modal-movie-genre-name">Western </span>
              </p>
        </div>
      </div>
        <p class="modal-movie-about">About</p>
        <p class="modal-movie-descript">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="modal-movie-button-wrapper">
          <button
            data-name="watched"
            class="modal-movie-button modal-left-button watched"
            type="button"
          >
            ADD TO WATCHED
          </button>
          <button data-name="queue" class="modal-movie-button modal-right-button queue" type="button">
            ADD TO QUEUE
          </button>
        </div>
      </div>
      </div>
{{/each}}