{{#each this}}
    <div class="movie-card" id="movie-card">
        <img class="movie-card__img" src="../images/dummy/dummy-img.jpg" alt="#" />
        <div class="movie-card__info">
          <h2 class="movie-card__title">some genre</h2>
          <p class="movie-card__brief">some brife | 2022</p>
        </div>
      </div>
{{/each}}