.search-btn {
  margin: 0 auto;
    // margin-bottom: 30px;
    // @media screen and (min-width: $tablet) {
    //   margin-bottom: 50px;
    // }
  }
  
  .search-btn-item {
    margin-left: 15px;
    margin-top: 15px;
    @media screen and (max-width: 320px) {
      flex-basis: calc((100% - 40px) / 2);
    }
  }
  
  .search-btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-top: -15px;
  }
.popular-btn,
.top-rated-btn,
.upcoming-btn,
.trending-tv-btn {
@include transition (all);

  color: $primary-color;
  text-align: center;
  @include font(500, 20px, 1.33);
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border: 1px solid rgba($accent-color, 0.6);
  border-bottom: 3px solid rgba($accent-color, 0.6);
  border-radius: 3px;
  border-radius: 3px;
box-shadow: 0 2px 8px rgba($accent-color, 0.5), inset 0 1px rgba($primary-color, 0.3),
    inset 0 10px rgba($primary-color, 0.2), inset 0 10px 20px rgba($primary-color, 0.25),
    inset 0 -15px 30px rgba($accent-color, 0.3);
  &:focus,
  &:hover {
    opacity: 0.7;
    transform: scale(1.05);
    box-shadow: none;
  }

  @media screen and (max-width: 767px) {
    width: 120px;
    font-size: 16px;
  }
}
.btn-tab-active {
    opacity: 0.7;
    box-shadow: 5px 5px 5px -5px rgba($accent-color-grey, 0.6) inset;
    background-color: $btn-color;
    color: $secondary-color;
    transform: scale(1.05);
    box-shadow: none;
  }
