.header-home {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('../images/header-home-page/header-bg-main-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
height: 230px;
  @media screen and (min-width: $mobile) {
    
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-home-page/header-bg-main-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: ($tablet - 1)) and (min-device-pixel-ratio: 2),
      screen and (max-width: ($tablet - 1)) and (min-resolution: 192dpi),
      screen and (max-width: ($tablet - 1)) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/header-home-page/header-bg-main-mobile@2x.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-home-page/header-bg-main-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: $tablet) {
    
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-home-page/header-bg-main-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: ($desktop - 1)) and (min-device-pixel-ratio: 2),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 192dpi),
      screen and (max-width: ($desktop - 1)) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/header-home-page/header-bg-main-tablet@2x.jpg');
    }

    @media screen and (min-width: $desktop) {
      
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/header-home-page/header-bg-main-desktop.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url('../images/header-home-page/header-bg-main-desktop@2x.jpg');
      }
    }
  }
}

.page-link:hover {
  border-bottom: 3px solid $accent-color;
}

.page-link:focus {
  border-bottom: 3px solid $accent-color;
}

.search-form {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: auto;

  @media screen and (min-width: $mobile) {
    width: 280px;
  }

  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    width: 336px;
  }
}

.search-field {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid $secondary-color;
  font-family: $primary-font;
  color: $secondary-color;

  &::placeholder {
    color: $secondary-color;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $accent-color;

    &::placeholder {
      color: $accent-color;
    }
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  border: transparent;
  color: $secondary-color;

  .search-field:focus ~ & {
    color: $accent-color;
  }
}
