.header-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    background-repeat:no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(/src/images/header-background-image-tablet.jpg);
    };
    @media screen and (min-width: $tablet) {
        padding-left: 32px;
        padding-right: 32px;
        background-image: url(/src/images/header-background-image-tablet.jpg);
    };
    @media screen and (min-width: $desktop) {
        padding-left: 70px;
        padding-right: 70px;
        background-image: url(/src/images/header-background-image-desktop.jpg);
    };
        @media screen and (max-width: $mobile) {
            
            background-image: url(/src/images/header-background-image-mobile.jpg);
        }
    
        ;
}

.logo-container {
    text-decoration: none;
}

nav {
    
    margin-bottom: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-name {
    @media screen and (max-width: 767px) {
        display: none;
    };
    @media screen and (min-width: $tablet) {
        display:block;
    };
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $secondary-color;
    margin-left: 10px;
    margin-left:10px;
}

.pages {
    display: flex;
}

.library {
    margin-left: 40px;
    border-bottom: 3px solid $accent-color;
}

.header-buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.header-button {
background-color: transparent;
border: 2px solid $secondary-color;
border-radius: 5px;
color:$secondary-color;

@media screen and (max-width: 767px) {
    width: 129px;
    height: 44px;
};

@media screen and (min-width: $tablet) {
    width: 152px;
    height: 44px;
};
@media screen and (min-width: $desktop) {
    width: 147px;
   height: 42px;
}
    
}

.queue {

    @media screen and (max-width: 767px) {
       margin-left: 20px;
    }

    @media screen and (min-width:$tablet) {
      margin-left: 32px;
    }

        @media screen and (min-width:$desktop) {
            margin-left: 16px;
        }
        
    }

.page-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: $secondary-color;
    text-decoration: none;
    text-transform: uppercase;
}

.active {
    background-color: $accent-color;
    border:2px solid $accent-color;
}


