.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 43px 0px $accent-color;
  & .title-text {
    display: flex;
    width: 200%;
  }
  & .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  & .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 15px;
  }
  & .form-container {
    width: 100%;
    overflow: hidden;
  }
}

.slide-controls {
  & .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  & label.signup {
    color: #000;
  }
  & .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: $accent-color;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

input[type='radio'] {
  display: none;
}

#signup:checked ~ .slider-tab {
  left: 50%;
}

#signup:checked ~ label.signup {
  color: #fff;
  cursor: pointer;
  user-select: none;
}

#signup:checked ~ label.login {
  color: #000;
}

#login:checked ~ label.signup {
  color: #000;
}

#login:checked ~ label.login {
  cursor: pointer;
  user-select: none;
}

.form-container {
  & .form-inner {
    display: flex;
    width: 200%;
  }
  & .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  & input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
    &:focus {
      border-color: $accent-color;
    }
    &::placeholder {
      color: #999;
      transition: all 0.3s ease;
    }
  }
}

form .field input:focus::placeholder {
  color: $accent-color;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: $accent-color;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  & .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: $accent-color;
    border-radius: 15px;
    transition: all 0.4s ease;
  }
  &:hover .btn-layer {
    left: 0;
  }
  & input[type='submit'] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
}

.icon-back {
  &:hover {
    fill: $accent-color;
  }
  &:focus {
    fill: $accent-color;
  }
}
