.movie-card {
  cursor: pointer;
  margin-bottom: 20px;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 32px) / 2);
    margin: 16px 8px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 48px) / 3);
  }
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-card:hover {
  transform: translateY(-3%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-card__img {
  width: 280px;
  height: 443px;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @media screen and (min-width: $tablet) {
    width: 336px;
    height: 494px;
  }
  @media screen and (min-width: $desktop) {
    width: 309px;
    height: 449px;
  }
}
.movie-card__info {
  margin-top: 8px;
  @media screen and (min-width: $tablet) {
    margin-top: 10px;
  }
}
.movie-card__title {
  font-family: $primary-font;
  @include font(500, 12px, 1.16);
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    line-height: 1.14;
  }
}
.movie-card__data {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
  font-family: $primary-font;
  @include font(500, 12px, 1.14);
  color: $accent-color;
}
.movie-card__genres {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.movie-card__genre {
  list-style: none;
  margin-right: 4px;
}

.movie-card__text {
  text-decoration: none;
  font-family: $primary-font;
  @include font(500, 12px, 1.14);
  color: $accent-color;
}
