.pagination__container {
    @extend %flex-center-style;
    padding-bottom: 40px;
    @media screen and (min-width: $tablet){
        padding-bottom: 60px;  
    }
}
.pagination__button {
    @include transition (border-color);
    @include transition (box-shadow);
    @include font(500, 12px, 1.33);
    font-family: $primary-font;
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: $secondary-color;
    color: $primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover,
    &:focus {
    border-color: $secondary-color-shade-dark;
    box-shadow: 0px 4px 4px rgba($primary-color, 0.25);
    }
}
.pagination__button--current {
    background-color: $accent-color;
    color: $secondary-color;
    box-shadow: 0px 4px 4px rgba($primary-color, 0.25);
}
.arrow-left, .arrow-right {
    background-color: $secondary-color-shade-light;
    background-position: 50%;
    background-repeat: no-repeat;
}
.arrow-left {
    background-image: url('/src/images/arrow-left.svg');
}
.arrow-right {
    background-image: url('/src/images/arrow-right.svg');
}
.dots {
    width: 40px;
    height: 40px;
    padding: 8px;
}
.pagination__button--last, .dots, .startBtn {
    @media screen and (max-width: 767px){
        display: none;
    }
}