.footer {
    padding: 30px 0;
    text-align: center;
    @include font(400, 14px, 1.14);
    color: $secondary-color-shade-dark;
    background-color: $secondary-color-shade-light;
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
    }
}

.footer__text {
    margin: 0 0 10px 0;
    @media screen and (min-width: $tablet) {
        margin: 0 3px 0 0;
        }
}

.footer__icon {
    margin: 0 10px;
    width: 14px;
    height: 13px;
    animation: 3s linear infinite rotate;
}

.footer__info--accent {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}