
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($secondary-color-shade-dark, 0.5);
    transition: opacity 400ms ease-in-out;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.footer-modal {
    position: relative;
    width: $mobile;
    padding: 20px;
}

.footer-modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: $secondary-color-shade-light;
    cursor: pointer;

    .footer-modal-close-btn__icon {
        width: 14px;
        height: 14px;
        @media screen and (min-width: $tablet) {
            width: 16px;
            height: 16px;
        }
    }
}

.slider-container {
    display: flex;
    justify-content: center;
                box-shadow: 8px 9px 32px -2px #000000;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;

    .thumbnails__link {
        display: block;
    }

    .thumbnails__img {
        width: 40px;
        height: 50px;
        object-fit: cover;
        object-position: top;
    }
}

.slides {
    overflow: hidden;
    width: 200px;

    .slides__item {
        width: 200px;
        position: absolute;
        z-index: 1;
        background-color: $secondary-color-shade-light;
    }

    .slides__img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        object-position: top;
    }

    .slides__name {
        @include font(500, 18px, 1.14);
        text-align: center;
        margin-bottom: 5px;
    }

    .slides__name--accent {
        color: $accent-color;
    }
}

.slides-social {
    padding: 0 20px;
    display: flex;
    justify-content: center;

    .slides-social__item:not(:last-child) {
        margin-right: 15px;
    }

    .slides__link {
        display: block;
    }

    .slides-social__icon {
        width: 20px;
        height: 20px;
        fill: $secondary-color-shade-dark;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            fill: $accent-color;
        }
    }
}

.slides__item:target {
    z-index: 3;
    animation: slide 1s 1;
}

.slides__item:not(:target) {
    animation: hidden 1s 1;
}

@keyframes slide {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes hidden {
    0% {
        z-index: 2;
    }

    100% {
        z-index: 2;
    }
}