body {
height: 100%;
min-height: 100vh;
position: relative;
}

.footer {
    background-color: $secondary-color-shade-light;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;  
}

.footer__container {
    padding: 30px 0;
    color: $secondary-color-shade-dark;
    transition: 0.5s;
    @include font(400, 14px, 1.14);
    
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center; 
    }      
}

.footer__text {
    margin: 0 0 10px 0;
    @media screen and (min-width: $tablet) {
        margin: 0 3px 0 0;
        }
}

.footer__icon {
    margin: 0 10px;
    width: 14px;
    height: 13px;
    animation: 3s linear infinite rotate;
}

.footer__info--accent {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
    text-decoration: none;
    @include font(500, 14px, 1.17);
    text-transform: uppercase;
    color: $primary-color;

    .footer-link__img {
        display: block;
        margin: 0 10px;
    }

    .footer-link__text {
        transition: color $transition-duration $transition-timing-function;
    }

    &:hover {
        .footer-link__text {
            color: $accent-color;
        }
    }
}