
.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-shade-light;
}

.footer-modal {
    position: relative;
    width: $mobile;
    padding: 20px;
    @media screen and (min-width: $tablet) {
        width: $tablet;
        padding: 20px;
    }
    // outline: 1px solid red;
}

.footer-modal-close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: none;
    border-radius: 50%;
    background-color: $secondary-color-shade-light;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        right: 235px;
    }

    .footer-modal-close-btn__icon {
        width: 14px;
        height: 14px;
        @media screen and (min-width: $tablet) {
            width: 16px;
            height: 16px;
        }
    }
}

.slider-container {
    display: flex;
    justify-content: center;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;


    .thumbnails__item {
        flex: auto;
    }

    .thumbnails__link {
        display: block;
    }

    .thumbnails__img {
        width: 40px;
        // height: 20vmin;
        object-fit: cover;
        object-position: top;
    }
}

.slides {
    overflow: hidden;
    width: 200px;
    // width: 75vmin;
    // height: 100vmin;

    .slides__item {
        width: 200px;
        // height: 100%;
        // width: 75vmin;
        // height: 100vmin;
        position: absolute;
        z-index: 1;
        background-color: $secondary-color-shade-light;
    }

    .slides__img {
        width: 200px;
        // height: 100vmin;
        object-fit: cover;
        object-position: top;
    }

    .slides__name {
        @include font(500, 18px, 1.14);
        text-align: center;
    }

    .slides__link {
        display: block;
        @include font(400, 10px, 1.14);
        text-decoration: none;
        text-align: center;
        color: $secondary-color-shade-dark;
    }
}

.slides__item:target {
    z-index: 3;
    animation: slide 1s 1;
}

.slides__item:not(:target) {
    animation: hidden 1s 1;
}



@keyframes slide {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes hidden {
    0% {
        z-index: 2;
    }

    100% {
        z-index: 2;
    }
}