<div class="genres-filter-section">
    <div class="genres-filter-container">
    <select name="genres-filter-list" class="genres-filter-list">
        <option value="1">Синий</option>
        <option value="2">Зеленый</option>
        <option value="3">Желтый</option>
        <option value="4">Красный</option>
        <option value="5">Оранжевый</option>
        <option value="6">Черный</option>
    </select>
    <button class="genres-filter-button">
        <svg class="icon-filter" width="24" height="24">
            <use href="/src/images/icons.svg#icon-search"></use>
        </svg>
        <span class="genres-button-span">genres</span>
    </button>
</div>
</div>