<header class="overlay header-library-bgi">
  <div class="header-library-container">
    <nav class="navigation">
      <a class="logo-container" href="/src/index.html">
        <svg class="icon-logo" width="24" height="24">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo-name">Filmoteka</span>
      </a>
      <ul class="pages">
        <li class="page home">
          <a href="/src/index.html" class="page-link">home</a>
        </li>
        <li class="page library">
          <a href="/src/library.html" class="page-link page-link--current-page"
            >my library</a
          >
        </li>
      </ul>
    </nav>
    <div class="button-container">
      <ul class="header-buttons-list">
        <li>
          <button class="header-button btn--watched">WATCHED</button>
        </li>
        <li>
          <button class="header-button btn--queue">QUEUE</button>
        </li>
      </ul>
    </div>
    <include src="./partials/utils/switch-theme.html"></include>
  </div>
</header>
